#Python files
*.pyc
*__pycache__
*.box

# Log files
*.log
log/

# Vagrant
.vagrant

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# DirEnv
.envrc
