certifi==2018.1.18
chardet==3.0.4
Django==2.0.1
django-countries==5.1.1
django-multiselectfield==0.1.8
django-recaptcha==1.4.0
djangorestframework==3.7.7
idna==2.6
psycopg2==2.7.3.2
pytz==2017.3
urllib3==1.22
