{% include "snippets/head.html" %}
{% include "snippets/header.html" %}

<div class="row" style="font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', sans-serif;">
  <div class="col s12 m6 offset-m3">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title" id="wTitle">Reset Password</span>
        {%if not user.is_authenticated%}
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <!--<input type="submit" value="Send message" />-->
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
        {%else%}
         you are already in active acount
         {%endif%}
      </div>
    </div>
  </div>
</div>

{% include "snippets/delete-space.html" %}

<script>
$(document).ready(function(){
    $('select').formSelect();
  });
</script>