<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro:200,300,300i,400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/wikipage.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/materialize/css/materialize.min.css"/>
  <script src="/static/css/materialize/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
    {% include "snippets/header.html" %}
 <div class="wBlockHeader">
  <div class="w-top-navigation">

<div class="container">
    <div class="row">
      <div class="col m6">
        <div class="card hoverable">
          <div class="card-content">
            <span class="card-title center-align" id="cardtitle">Credit details</span>
                {% for credit, date in data_credit_log %}
          <div >{{data_credit_log.credit}}    {{data_credit_log.date}}</div> 
          {% endfor %}
                          

             
          </div>
        </div>
      </div>
    </div>
</div>
</body>
</html>
