<html>
    {% include "snippets/head.html" %}
    {% include "snippets/header.html" %}
 <div class="wBlockHeader">
  <div class="w-top-navigation">

<div class="container">
    <div class="row">
      <div class="col-offset-2 m6">
        <div class="card hoverable">
          <div class="card-content">
            <span class="card-title center-align" id="cardtitle">Credit details</span>
          </div>
        </div>
      </div>
    </div>
</div>

{% for credit in  data%}

  <div class="container">
      <div class="row">
        <div class="col-offset-2 m6">
          <div class="card hoverable">
            <div class="card-content  center-align">
            
                <div >
                  <strong>ID:   </strong> {{credit.id}}
                </div>

                {{usernames.forloop.counter0}}
               <div >
                  <strong> CREDIT:   </strong> {{credit.credit}}

                 
                </div>
                
                <div >
                 <strong>DATE:   </strong>{{credit.date}}
                </div>
             
            </div>
          </div>
        </div>
      </div>
  </div>
{% endfor %}
            

</body>
</html>
