<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro:200,300,300i,400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/wikipage.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css"/>
  <script type='text/javascript' src='/js/wiki.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
    {% include "snippets/header.html" %}
 
 <div class="wBlockHeader">
  <div class="w-top-navigation">
    <a href="{% url 'edit_space' space.id %}" >
    	<img src="/static/images/edit_button.png" id="w-top-navigation-bar-edit-button">
    </a>
<!--a href="/" >
    	<img src="/assets/flag_button.png" id="w-top-navigation-bar-flag-incorrect-button">
    </a-->
<!--/div>
 <div class="wnavigation-bar">
    <a href="/" id="wnavigation-bar-article-button" class="navigation-bar-button selected-navigation-bar-button">Article</a>
    <a href="/" id="wnavigation-bar-talk-button" class="navigation-bar-button">Talk</a>
    <a href="/" id="wnavigation-bar-document-revision-button" class="navigation-bar-button">Revision</a>
	</div>
</div-->
 <div class="wBlockOne">
  <!-- <img src="/static/images/Placeholder_logo.png" alt="#" style="height: 100px; display:block;margin-left: auto;margin-right: auto;"> -->
  <p ></p>
  <h2 id="wTitle">{{space.name}}</h2>
  {% if space.website %}
  <a id="wWebsite" href="{{space.website}}" target="_blank">{{space.website}}</a>
  {% else %}
  <a id="wWebsite" href="{%url 'space_profile' space.id %}" target="_blank">
  Link to Atlas Profile</a>
  {% endif %}

  <p id="w-space-short-description">
  {{space.short_description| default_if_none:""}}</p>
  <p id="w-space-description">{{space.description | default_if_none:""}}</p>
  <hr />
</div>

<div class="wBlockFour">
  <div class="rowAlign">
    <div class="rowTextBlock">
      <p id="wBlockSubTitle">Contact Info</p>
      <a href= "mailto:{{space.email}}">{{space.email | default_if_none:""}}</a> 
      {{space.phone | default_if_none:""}} 
      <br/>
      <div id="w-address">  
       <p><img src="/static/images/pin_map.png" alt="" style="width:8px;height: 10px;">{{space.address1 | default_if_none:""}}</p> 
       {{space.address2 | default_if_none:""}}
       {% if space.city %}
          {{space.city}}, 
       {% endif %}
       {% if space.province %}
          {{space.province}}, 
       {% endif %}
       {{space.country.name | default_if_none:""}}
       {{space.postal_code | default_if_none:""}}
       {{space.additional_directions | default_if_none:""}}
     </div> 
   </div>

<!-- No special display, but with some data cleaning, so it's not in the
generic dictionary datafield.  -->

        {% if space.date_opened %}
         <div class="rowTextBlock">
          <p id="wBlockSubTitle">date_opened</p>
          <p id="textBlock">{{space.date_founded}}</p>
        </div>
        {% endif %}
        {% if space.date_closed %}
         <div class="rowTextBlock">
          <p id="wBlockSubTitle">date_closed</p>
          <p id="textBlock">{{space.date_closed}}</p>
        </div>
        {% endif %}

        {% if space.data_credit %}
         <div class="rowTextBlock">
          <p id="wBlockSubTitle">data_credit</p>
          <p id="textBlock">{{space.data_credit}}</p>
        </div>
        {% endif %}

        {% if space.users %}
         <div class="rowTextBlock">
          <p id="wBlockSubTitle">users</p>
          <p id="textBlock">{{space.users}}</p>
        </div>
        {% endif %}
        {% if space.membership %}
         <div class="rowTextBlock">
          <p id="wBlockSubTitle">membership</p>
          <p id="textBlock">{{space.membership}}</p>
        </div>
        {% endif %}
        {% if space.size_in_sq_meters %}
         <div class="rowTextBlock">
          <p id="wBlockSubTitle">size_in_sq_meters</p>
          <p id="textBlock">{{space.size_in_sq_meters}}</p>
        </div>
        {% endif %}
        {% if space.wheelchair_accessibility %}
         <div class="rowTextBlock">
          <p id="wBlockSubTitle">wheelchair_accessibility</p>
          <p id="textBlock">{{space.wheelchair_accessibility}}</p>
        </div>
        {% endif %}
        {% if space.business_model %}
         <div class="rowTextBlock">
          <p id="wBlockSubTitle">Access, Cost Structure, and/or Membership model (business_model)</p>
          <p id="textBlock">{{space.business_model}}</p>
        </div>
        {% endif %}

        {% if space.operational_status %}
         <div class="rowTextBlock">
          <p id="wBlockSubTitle">operational_status</p>
          <p id="textBlock">{{space.operational_status}}</p>
        </div>
        {% endif %}
        {% if space.validation_status %}
         <div class="rowTextBlock">
          <p id="wBlockSubTitle">validation_status</p>
          <p id="textBlock">{{space.validation_status}}</p>
        </div>
        {% endif %}
        {% if space.ownership_type %}
         <div class="rowTextBlock">
          <p id="wBlockSubTitle">ownership_type</p>
          <p id="textBlock">{{space.ownership_type}}</p>
        </div>
        {% endif %}
        {% if space.governance_type %}
         <div class="rowTextBlock">
          <p id="wBlockSubTitle">governance_type</p>
          <p id="textBlock">{{space.governance_type}}</p>
        </div>
        {% endif %}
        {% if space.hours_of_operation %}
         <div class="rowTextBlock">
          <p id="wBlockSubTitle">hours_of_operation</p>
          <p id="textBlock">{{space.hours_of_operation}}</p>
        </div>
        {% endif %}

<!-- There is a generic datafield where people can put whatever data they
want. We display it here.   -->

   {% for field, value in space.other_data.items %}
      {% if value %}
         <div class="rowTextBlock">
          <p id="wBlockSubTitle">{{field}}</p>
          <p id="textBlock">{{value}}</p>
        </div>
      {% endif %}
   {% endfor %}
</div>

<p>{{space.last_updated}}</p>
</body>
</html>