<html>
<!-- <head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro:200,300,300i,400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/wikipage.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css"/>
  <script type='text/javascript' src='/js/wiki.js'></script>
  <link rel="stylesheet" type="text/css" href="/static/css/materialize/css/materialize.min.css"/>
  <script src="/static/css/materialize/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head> -->
{% include "snippets/head.html" %}
    {% include "snippets/header.html" %}
    {% load app_filters %}
 <div class="wBlockHeader">
  <div class="w-top-navigation">
    <!--<a href="{% url 'edit_space' space.id %}" >
    	<img src="/static/images/edit_button.png" id="w-top-navigation-bar-edit-button">
    </a>-->

<!--a href="/" >
    	<img src="/assets/flag_button.png" id="w-top-navigation-bar-flag-incorrect-button">
    </a-->
<!--/div>
 <div class="wnavigation-bar">
    <a href="/" id="wnavigation-bar-article-button" class="navigation-bar-button selected-navigation-bar-button">Article</a>
    <a href="/" id="wnavigation-bar-talk-button" class="navigation-bar-button">Talk</a>
    <a href="/" id="wnavigation-bar-document-revision-button" class="navigation-bar-button">Revision</a>
	</div>
</div-->
{% load app_filters %}
<div class="row"> 
{%if user.is_authenticated%}
{%if  user.is_superuser or user|isAuthorized:space %}

<a id="cardtitle" class="waves-effect waves-light btn" href="{% url 'space_suggestion' space.id %}"><i class="material-icons right">edit</i>Sugessted changes </a>
<a id="cardtitle" class="waves-effect waves-light btn" href="{% url 'edit_space' space.id %}"><i class="material-icons right">edit</i>Edit</a>
{%else%}
<a id="cardtitle" class="waves-effect waves-light btn" href="{% url 'edit_space' space.id %}"><i class="material-icons right">edit</i>Edit as Suggestion</a>
{%endif%}
          
        <a id="cardtitle" class="waves-effect waves-light btn" href="{%url 'show_data_credit' space.id %}"><i class="material-icons right">history</i>View History</a>
          </div>

{%endif%}
<div class="container">
	<div class="row">
		<div class="col m12">
				<div class="wBlockOne" style="display: flex;flex-direction: row;justify-content:center">
				<!-- <img src="/static/images/Placeholder_logo.png" alt="#" style="height: 100px; display:block;margin-left: auto;margin-right: auto;"> -->
				{% if space.validated or space.recently_updated %}
				<div style="flex-shrink:0;width:18%">
					{% if space.validated %}
					<h2 class="ribbon green"> Validated </h2>
					{% endif %}
					{% if space.recently_updated %}
					<h2 class="ribbon red"> Recently Updated </h2>
					{% endif %}
				</div>
				{% endif %}
				<div style="width:100%">
					<h2 id="wTitle">{{space.name}}</h2>
					{% if space.website %}
					<a id="wWebsite" href="{{space.website}}" target="_blank">{{space.website}}</a>
					{% else %}
					<a id="wWebsite" href="{%url 'space_profile' space.id %}" target="_blank">
					Link to Atlas Profile</a>
					{% endif %}
					<blockquote style="border-left: 5px solid #00d4d2;margin:auto">
						<p>{{space.short_description| default_if_none:""}}</p>
					</blockquote>
					<p style="text-align:center">{{space.description | default_if_none:""}}</p>
				</div>
				{% if space.validated or space.recently_updated %}
				<div style="flex-grow:1;width:28.1%"></div>
				{% endif %}
				<!--<hr />-->
			 </div>
		</div>
  </div>

    <div class="row">
      <div class="col m6">
        {% if space.email or space.phone or space.address1 or space.city or space.country or space.postal_code or space.additional_directions %}
        <div class="card hoverable">
          <div class="card-content">
            <span class="card-title center-align" id="cardtitle">Contact Info</span>
            <!--<p >Contact Info</p>-->
            {% if space.email %}
            <a id="tealtext"><i class="material-icons tiny">mail</i> {{space.email | hide_email | default_if_none:""}}</a><br>
            {% endif %}
            {% if space.phone %}
            <i class="material-icons tiny">phone</i> {{space.phone | hide_phone | default_if_none:""}}
            <br/>
            {% endif %}
            {% if space.address1 or space.city or space.country or space.postal_code or space.additional_directions %}
              <div id="w-address">
               <i class="material-icons tiny">location_on</i>
               {% if space.address1 %}
                  {{space.address1 | default_if_none:""}},
               {% endif %}
               {% if space.address2 %}
                  {{space.address2 | default_if_none:""}},
               {% endif %}
               {% if space.city %}
                  {{space.city}},
               {% endif %}
               {% if space.province %}
                  {{space.province}},
               {% endif %}
               {{space.country.name | default_if_none:""}}
               {{space.postal_code | default_if_none:""}} <br>
               <small>{{space.additional_directions | default_if_none:""}}</small>
              </div>
           {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
      <div class="col m6">
        <div class="col m6">
          {% if space.date_opened %}
          <h5>Date opened</h5>
          <p >{{space.date_opened}}</p>
          {% endif %}
          {% if space.date_closed %}
          <h5>Date closed</h5>
          <p >{{space.date_closed}}</p>
          {% endif %}
        </div>
       
        <div class="col m6">
          {% if space.business_model %}
          <h6>Access, Cost Structure, and/or Membership model</h6>
          <p >{{space.business_model}}</p>
          {% endif %}
        </div>
      </div>
    </div>
    
    <div class="row">
     <div class="col m6">
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title text center-align" id="cardtitle">Owners</span>
          <div >
            {%if owners is not None%}
              {%for owner in owners%}
                <h8 class="center-align " >{{owner.user.first_name}}</h8>
                {%if user.is_staff%}
                <h8 class="center-align">{{owner.user.email}}</h8>
                 <a id="cardtitle" class="waves-effect waves-light btn" href="{% url 'remove_owner' space.id owner.user.id %}?next={{request.path}}"><i class="material-icons right">delete_forever</i>Remove owner </a>
                 <br/>
                {%endif%}
              {%endfor%}
            {%else%}
                {%if user.is_authenticated%}
                  <h8 class="center-align" >Are you the owner? to save your account as owner  click</h8>
                  <form action="" method="post">{% csrf_token %}
                  <input type="hidden" name="user_id" value="{{ user.id }}">
                  <input class="btn waves-effect waves-light" type="submit" name="upvote" value="HERE" />
                  </form>
                {%else%}
                  <h8 class="center-align" >Are you the owner? to save as owner </h8>
                  <a href="{% url 'login'%}?next={{request.path}}">login</a>  or <a href="{% url 'signup' %}?next={{request.path}}">signup</a>
                {%endif%}
            {%endif%}
             {%if user.is_staff%}
              <p>
              <a class="toggle" href="#example">Add owner</a>
             </p>
              <div class="toggle-content" id="example">
              <form action="" method="post">{% csrf_token %}
                  <p class = "blue-text text-darken-2"> The user email must be exist in the site</p>
                  <input type="hidden" name="user_id" >
                   <label >User Email:</label>
                  <input type="email" name="user_email">
                  <input class="btn waves-effect waves-light" type="submit" name="upvote" value="save Owner" />
              </form>
              </div>
              {%endif%}
         </div>
        </div>
      </div>
     </div>
    </div>
   
    <div class="row">
    {% if space.users %}
    <div class="col m4">
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title text center-align" id="cardtitle">Users</span>
          <div >
           <h1 class="center-align" >{{space.users}}</h1>
         </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if space.size_in_sq_meters %}
    <div class="col m4">
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title text center-align" id="cardtitle">Sq Meters</span>
          <div >
           <h1 class="center-align" >{{space.size_in_sq_meters}}</h1>
         </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if space.hours_of_operation %}
    <div class="col m4">
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title text center-align" id="cardtitle">Hours of operation</span>
          <div >
           <h1 class="center-align" >{{space.hours_of_operation}}</h1>
         </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% if space.data_credit or space.membership or space.wheelchair_accessibility or space.operational_status or space.validation_status or space.ownership_type|length > 0 or network_affiliation|length > 0 or space.governance_type|length > 0 %}
  <div class="row">
    <div class="col m12">
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title text center-align" id="cardtitle">Space information</span>
          <br>
          <div class="row">
            {% if space.data_credit %}
            <div class="col m3">
               <div >
                <p  class="text center-align" id="cardtitle">Data credit</p>
                <p  class="text center-align" id="tealtext">{{space.data_credit}}</p>
              </div>
            </div>
            {% endif %}
            {% if space.membership %}
            <div class="col m3">
               <div >
                <p  class="text center-align" id="cardtitle">Membership</p>
                <p  class="text center-align" id="tealtext">{{space.membership}}</p>
              </div>
            </div>
            {% endif %}
            {% if space.wheelchair_accessibility %}
            <div class="col m3">
               <div >
                <p  class="text center-align" id="cardtitle">Wheelchair accessibility</p>
                <p  class="text center-align" id="tealtext">{{space.wheelchair_accessibility}}</p>
              </div>
            </div>
            {% endif %}
            {% if space.operational_status %}
            <div class="col m3">
              <div >
               <p  class="text center-align" id="cardtitle">Operational status</p>
               <p  class="text center-align" id="tealtext">{{space.operational_status}}</p>
             </div>
            </div>
            {% endif %}
            {% if space.validation_status %}
            <div class="col m3">
              <div >
               <p  class="text center-align" id="cardtitle">Validation status</p>
               <p  class="text center-align" id="tealtext">{{space.validation_status}}</p>
             </div>
            </div>
            {% endif %}
          </div>

          <div class="row">
            {% if space.ownership_type %}
            <div class="col m4">
              <div >
               <p  class="text center-align" id="cardtitle">Ownership type</p>
               <p  class="text center-align" id="tealtext">{% for type in space.ownership_type.all %} {{type}}, {% endfor %}</p>
             </div>
            </div>
            {% endif %}
            {% if space.network_affiliation %}
            <div class="col m4">
              <div >
               <p  class="text center-align" id="cardtitle">Network affiliation</p>
               <p  class="text center-align" id="tealtext">{% for type in space.network_affiliation.all %} {{type}}, {% endfor %}</p>
             </div>
            </div>
            {% endif %}
            {% if space.governance_type %}
            <div class="col m4">
              <div >
               <p  class="text center-align" id="cardtitle">Governance type</p>
               <p  class="text center-align" id="tealtext">{% for type in space.governance_type.all %} {{type}}, {% endfor %}</p>
             </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if space.other_data %}
  <div class="row">
    <div class="col m12">
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title text center-align" id="cardtitle">Additional information</span>
          <!-- There is a generic datafield where people can put whatever data they
          want. We display it here.   -->
          <br>
          <ul class="collection">
             {% for field, value in space.other_data.items %}
                {% if value %}
                  <li class="collection-item"><p><strong>{{field}}:</strong> {{value}}</p></li>
                {% endif %}
             {% endfor %}
           </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row right">
    <p><small>Last updated</small></p>
    <p>{{space.last_updated}}</p>
  </div>
</div>
{% include "snippets/delete-space.html" %}
</body>
</html>

  