{% include "snippets/head.html" %}
{% include "snippets/header.html" %}
<br><br><br>
<div class="row" style="font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', sans-serif;">
  <div class="col s12 m6 offset-m3">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title" id="wTitle">Space information</span>
         you can get your latitude and longitude on <a target="_blank" href="https://www.latlong.net/"> this</a> page. 
        <form action="" method="post">{% csrf_token %}
          {% for field in form %}
<div class="fieldWrapper{% if field.field.required %} required{% endif %}">
  {{ field.errors }}
  {{ field.label_tag }}: {{ field }}

  </div>
{% endfor %}
            <!-- {{ form.as_p }} -->
            <!--<input type="submit" value="Send message" />-->
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% include "snippets/delete-space.html" %}

<script>
$(document).ready(function(){
    $('select').formSelect();
  });
</script>
