<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro:200,300,300i,400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/wikipage.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/materialize/css/materialize.min.css"/>
  <script src="/static/css/materialize/js/materialize.min.js"></script>
</head>
    {% include "snippets/header.html" %}
<br><br><br>
<div class="row" style="font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', sans-serif;">
  <div class="col s12 m6 offset-m3">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title" id="wTitle">Space upload</span>
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <!--<input type="submit" value="Send message" />-->
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% include "snippets/delete-space.html" %}

<script>
$(document).ready(function(){
    $('select').formSelect();
  });
</script>
