{% load static %}

<!DOCTYPE html>
<html>
  {% include "snippets/head.html" %}
<body>
    <div id="map-container">
	    <div id="map"></div>
        <div id="loading">
            <div class="loader"></div>
            <h3 class="loader-text">Finding Spaces...</h3>
        </div>
    </div>
    <script>
        // map config
        atlas_of_innovation_config = {
            map_center : {{ map_center }},
            map_zoom : {{ map_zoom }},
            filter_terms : "{{ filter_terms }}"
        }
    </script>
    <script src="{% static 'js/map.js' %}"></script>
</body>
</html>
