{% load static %}
{% include "snippets/head.html" %}
{% include "snippets/header.html" %}

<div class="container wiki-content source-sans">
	<div class="columns two columns-wide">
		<!--div>
			<div class="column-content">
				<div class="column-header">
					<h3>Recently Updated</h3>
				</div>
			</div>
		</div-->
		<div>
			<div class="column-content">
				<div class="column-header">
					<h3>Countries</h3>
					<a href="#_" class="see-all">See All</a>
				</div>
				<ul class="wiki-list">
					{% for country in countries %}
						<a href="/uifunc/wikilist/country/{{country}}"<li>{{country}}<!--span class="count pink">(${random.randrange(1,100)})</span--></li></a> <br/>
					{% endfor %}
				</ul>
			</div>
		</div>
		<!--div>
			<div class="column-content">
				<div class="column-header">
					<h3>Services</h3>
					<a href="#_" class="see-all">See All</a>
				</div>
				<ul class="wiki-list">
					% for service in ("Coworking", "Hosting", "Events", "Selling and trading", "Incubating", "Startups", "Educating", "Vocational training", "Mentoring", "Donating", "Transferring", "Technology", "Co-living", "Repairing", "Manufacturing"):
						<li>${service} <span class="count pink">(${random.randrange(1,350)})</span></li>
					% endfor
				</ul>
			</div>
		</div-->
		<div>
			<div class="column-content">
				<div class="column-header">
					<h3>Themes</h3>
					<a href="#_" class="see-all">See All</a>
				</div>
				<ul class="wiki-list">
					{% for x in themes %}
						<a href="/uifunc/wikilist/theme/{{x}}"><li>{{x}}<!--span class="count pink">(${random.randrange(1,350)})</span--></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'js/wiki.js' %}"></script>

{% include "snippets/footer.html" %}
