{% load static %}
{% include "../snippets/head.html" %}
{% include "../snippets/header.html" %}

<div id="goals-page" class="container">
	{% include "../snippets/page-menu.html" %} 
	<section class="page-content">
		<h1 class="section-header dark-blue credit-divider">Contributors</h1>
		<div class="columns">
			<ul class="source-sans center-list-25">
				<li>Anna Waldman-Brown <small><i>&lt;annawab  at fabfolk.com&gt;</i></small></li>
				<li>Albie Brown <small><i>&lt;albiejbrown at  gmail.com&gt;</small></i></li>
				<li>Rusty Grove <small><i>&lt;rusty  at  blatypus.com&gt;</small></i></li>
				<li>Chinmayi SK <small><i>&lt;chinmayisk at  gmail.com&gt;</small></i></li>
				<li>Joséphine Lesaffre <small><i>&lt;josephine.lesaffre  at  gmail.com&gt;</small></i></li>
				<li>Will Newman <small><i>&lt;wnewman88  at  gmail.com&gt;</small></i></li>
				<li>Lyla Fischer <small><i>&lt;lylafisch  at  gmail.com&gt;</small></i></li>
				<li>Jodi Huang <small><i>&lt;jodihuang1  at  gmail.com&gt;</small></i></li>
				<li>Becky Button <small><i>&lt;einsteinunicorn  at  gmail.com&gt;</small></i></li>
				<li>Maylan VN <small><i>&lt;maylanvn  at  gmail.com&gt;</small></i></li>
				<li>David García </li>
			</ul>
		</div>
		<h1 class="section-header dark-blue credit-divider">Atlas Partners</h1>
		<div class="columns two img-grid">
			<div>
				<a href="https://nationofmakers.us/"><img src="{% static 'images/nation_of_makers.png' %}"/></a>
			</div>
			<div>
				<a href="http://makernet.work"><img src="{% static 'images/maker_network.png' %}"/></a>
			</div>
		</div>
		<div class="columns two img-grid">
			<div>
				<a href="http://open.co"><img src="{% static 'images/open_movement.png' %}"/></a>
			</div>
			<div>
				<a href="http://fabfoundation.org"><img src="{% static 'images/fab_foundation.png' %}"/></a>
			</div>
		</div>
		<h1 class="section-header dark-blue credit-divider">Sponsors</h1>
		<div class="columns two img-grid">
			<div>
				<a href="http://www.bmz.de/en/index.html"><img src="{% static 'images/giz-logo.png' %}"/></a>
			</div>
			<div>
				<a href="http://asme.org"><img src="{% static 'images/asme.png' %}"/></a>
			</div>
		</div>
		<div class="columns two img-grid">
			<div>
				<a href=""><img src="{% static 'images/making_science.png' %}"/></a>
			</div>
		</div>
		<h1 class="section-header dark-blue credit-divider">Map Moderators</h1>
			<ul class="source-sans center-list-25 map-moderators">
				<li><p><b>USA</b></p>
					<p>Becky Button</p>
					<p>Nation of Makers State Ambassadors: <a href="https://nationofmakers.us/team.html">https://nationofmakers.us/team.html</a></p>
				</li>
				<li><p><b>CANADA</b></p>
					<p>Sophie Tremblay <a href="www.sophietremblay.ca">www.sophietremblay.ca</a></p>
					<p>Phonesavanh Thongsouksanoumane: <a href="http://www.phonesavanh.com">www.phonesavanh.com</a></p>
				</li>
				<li><p><b>LATIN AMERICA	</b></p>
					<p>Martin Restrepo</p>
					<p>Gabi Agustini</p>
				</li>
				<li><p><b>MEXICO</b></p>
					<p>Alberto Sanchez Ruiz: <a href="https://www.facebook.com/LaNaveMs/">https://www.facebook.com/LaNaveMs/</a></p>
				</li>
				<li><p><b>WESTERN EUROPE</b></p>
					<p>Philip Steffan and Maker Faire Germany <a href="http://www.maker-faire.de">www.maker-faire.de</a></p>
				</li>
				<li><p><b>EAST AFRICA</b></p>
					<p>Juliet Wanyiri</p>
					<p>Lukonga Lindunda</p>
				</li>
				<li><p><b>WEST AFRICA</b></p>
					<p>Jorge Appiah</p>
				</li>
				<li><p><b>INDIA</b></p>
					<p>Paul Anand</p>
					<p>Chinmayi SK</p>
					<p>Abhinav Dey</p>
				</li>
				<li><p><b>CHINA</b></p>
					<p>David Li</p>
					<p>Cesar Harada</p>
				</li>
			</ul>
		<h1 class="section-header dark-blue credit-divider">Data Partners</h1>
		<div class="columns two img-grid">
			<div>
				<a href="http://hackerspaces.org"><img src="{% static 'images/hackerspaces.png' %}"/></a>
			</div>
			<div>
				<a href="http://fablabs.io"><img src="{% static 'images/fablabs.png' %}"/></a>
			</div>
		</div>
		<div class="columns two img-grid">
			<div>
				<a href="http://makery.info/en"><img src="{% static 'images/makery.png' %}"/></a>
			</div>
			<div>
				<a href="http://themakermap.com/"><img src="{% static 'images/the_maker_map.png' %}"/></a>
			</div>
		</div>
		<div class="columns two img-grid">
			<div>
				<a href="https://bongohive.co.zm/"><img src="{% static 'images/bongohive.png' %}"/></a>
			</div>
			<div>
				<a href="http://hacedores.com"><img src="{% static 'images/hacedores.png' %}"/></a>
			</div>
		</div>
		<div class="columns two img-grid">
			<div>
				<a href="http://www.afrilabs.com/"><img src="{% static 'images/afrilabs.png' %}"/></a>
			</div>
			<div>
				<a href="http://instructables.com"><img src="{% static 'images/instructables.gif' %}"/></a>
			</div>
		</div>
		<div class="columns two img-grid"> 
			<div>
				<a href="https://www.globalinnovationgathering.org/"><img src="{% static 'images/gig.png' %}"/></a>
			</div> 
			<div>
				<a href="http://open.co/"><img src="{% static 'images/open_movement.png' %}"/></a>
			</div> 
		</div> 
		<div class="columns two img-grid"> 
			<div>
				<a href="https://www.nesta.org.uk/"><img src="{% static 'images/nesta.png' %}"/></a>
			</div> 
			<div>
				<a href="https://www.makerbay.org/"><img src="{% static 'images/maker_bay.png' %}"/></a>
			</div>
		</div>
		<div class="columns two img-grid"> 
			<div>
				<a href="https://www.seeedstudio.io"><img src="{% static 'images/seeed.png' %}"/></a>
			</div> 
			<div>
				<a href="https://makershare.com/"><img src="{% static 'images/maker_share.jpg' %}"/></a>
			</div> 
		</div> 
	</section>
</div>

{% include "../snippets/footer.html" %}
