{% load static %}

<div id="navigation-bar-container">
    <a class="navigation-bar-logo" href="/">
        <img src="{% static 'images/logo_atlas_of_innovation.png' %}" id="navigation-bar-home"/>
    </a>
    <div class="navigation-bar">
        <a href="{% url 'map' %}" id="navigation-bar-map-button" class="navigation-bar-button selected-navigation-bar-button">MAP</a>
        <a href="{% url 'about' %}" id="navigation-bar-about-button" class="navigation-bar-button">ABOUT</a>
        <a href="{% url 'userDocs' %}" id="navigation-bar-document-licensing-button" class="navigation-bar-button">DOCUMENTATION & LICENSING</a>
        <a href="{% url 'wiki' %}" id="navigation-bar-wiki-button" class="navigation-bar-button">LIST</a>
        <a href="{% url 'contribute' %}" id="navigation-bar-contribute-button" class="navigation-bar-button">CONTRIBUTE</a>
        <a href="mailto:anansegroup@gmail.com" id="navigation-bar-contact-button" class="no-underline navigation-right dark-blue">Contact Us</a>
	</div>
</div>
{% if messages %}
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} "{% endif %}><script type="text/javascript">M.toast({html:'{{ message }}', displayLength:8000,classes:'msg-info'});</script> 
    </li>
    {% endfor %}
{% endif %}