{% load static %}

<div id="navigation-bar-container">
    <a class="navigation-bar-logo" href="/">
        <img src="{% static 'images/logo_ananse.png' %}" id="navigation-bar-home"/>
    </a>
    <div class="navigation-bar">
        <a href="/application/map" id="navigation-bar-map-button" class="navigation-bar-button selected-navigation-bar-button">MAP</a>
        <a href="/application/about" id="navigation-bar-about-button" class="navigation-bar-button">ABOUT</a>
        <a href="/application/docs" id="navigation-bar-document-licensing-button" class="navigation-bar-button">DOCUMENTATION & LICENSING</a>
        <a href="/application/wiki" id="navigation-bar-wiki-button" class="navigation-bar-button">WIKI</a>
        <a href="/application/contribute" id="navigation-bar-contribute-button" class="navigation-bar-button">CONTRIBUTE</a>
        <a href="mailto:anansegroup@gmail.com" id="navigation-bar-contact-button" class="no-underline navigation-right dark-blue">Contact Us</a>
	</div>
</div>
