{% load static %}

<html>
<head>
	<!-- both -->
    <title>Ananse Group</title>
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Source+Sans+Pro:200,300,300i,400,600" rel="stylesheet">
    {%if request.path != '/analyze/provisional_spaces/'%}
     <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
     {%else%}
     <link rel="stylesheet" type="text/css" href="/static/css/materialize/css/materialize.min.css"/>
      <link rel="stylesheet" type="text/css" href="/static/css/wikipage.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  {%endif%}

<!-- Menu Bar -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



   
    
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}"/>
<!-- Only Map -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.Default.css' %}"/>
    
    {%if request.path != '/analyze/provisional_spaces/'%}
  
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
     {%else%}
     
  <script src="/static/css/materialize/js/materialize.min.js"></script>
    {%endif%}
    
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'js/page.js' %}"></script>

{%if request.path != '/analyze/provisional_spaces/'%}
    <script>
      $(document).ready(function(){
    	$('.button-collapse').sideNav();
  		});      
    </script>
  {%endif%}

</head>
<body>
